## Looking at Taranki region - West Coast Region

Get the pets information, the population data, the home ownership and the income

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.2     ✔ purrr   0.3.4
✔ tibble  3.0.3     ✔ dplyr   1.0.2
✔ tidyr   1.1.2     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [100]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki")

In [101]:
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki"

In [102]:
#get a list of files in the taranaki region
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Taranaki")
file_list

[1] "New Plymouth.csv"   "South Taranaki.csv" "Stratford.csv"

In [110]:
#initiate a blank data frame, each iteration of the loop will append the data from the given file to this variable
taranaki <- data.frame()
taranaki_pop <- data.frame()
taranaki_homes <- data.frame()
taranaki_income <- data.frame()

##Repeat this process for the other datasets

In [111]:
#Extract the pets information from the dataframe

for (i in 1:length(file_list)){
  data = read_csv(file_list[i])
  pets_data = data[data$Topic == "Pets",]
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
  pets_data$Date = NULL
  pets_data$DateLabel = NULL  
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  taranaki <- rbind(taranaki, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}
taranaki

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   New Plymouth          Registered dogs — Total registered dogs
2   New Plymouth          Registered dogs — Total registered dogs
3   New Plymouth          Registered dogs — Total registered dogs
4   New Plymouth          Registered dogs — Total registered dogs
5   New Plymouth          Registered dogs — Total registered dogs
6   New Plymouth          Registered dogs — Total registered dogs
7   New Plymouth          Registered dogs — Total registered dogs
8   New Plymouth          Registered dogs — Total registered dogs
9   New Plymouth          Registered dogs — Total registered dogs
10  New Plymouth          Registered dogs — Total registered dogs
11  New Plymouth          Registered dogs — Total registered dogs
12  New Plymouth          Registered dogs — Total registered dogs
13  New Plymouth          Registered dogs — Total registered dogs
14  New Plymouth          Registered dogs — Total registered dogs
15  New Plymouth          Registered dogs — Total registered dogs
16  New Plymouth          Registered dogs — Total registered dogs
17  New Plymouth          Registered dogs — Total registered dogs
18  New Plymouth          Registered dogs — Total registered dogs
19  New Plymouth          Registered dogs — Total registered dogs
20  New Plymouth          Registered dogs — Total registered dogs
21  New Plymouth          Registered dogs — Total registered dogs
22  New Plymouth          Registered dogs — Total registered dogs
23  New Plymouth          Registered dogs — Total registered dogs
24  New Plymouth          Registered dogs — Total registered dogs
25  New Plymouth          Registered dogs — Total registered dogs
26  New Plymouth          Registered dogs — Total registered dogs
27  New Plymouth          Registered dogs — Total registered dogs
28  New Plymouth          Registered dogs — Total registered dogs
29  New Plymouth          Registered dogs — Total registered dogs
30  New Plymouth          Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
85  Stratford             Registered dogs — Total registered dogs
86  Stratford             Registered dogs — Total registered dogs
87  Stratford             Registered dogs — Total registered dogs
88  Stratford             Registered dogs — Total registered dogs
89  Stratford             Registered dogs — Total registered dogs
90  Stratford             Registered dogs — Total registered dogs
91  Stratford             Registered dogs — Total registered dogs
92  Stratford             Registered dogs — Total registered dogs
93  Stratford             Registered dogs — Total registered dogs
94  Stratford             Registered dogs — Total registered dogs
95  Stratford             Registered dogs — Total registered dogs
96  Stratford             Registered dogs — Total registered dogs
97  Stratford             Registered dogs — Total registered dogs
98  Stratford             Registered dogs — Total registered dogs
99  Stratford             Registered dogs — Total registered dogs
100 Stratford             Registered dogs — Total registered dogs
101 Stratford             Registered dogs — Total registered dogs
102 Stratford             Registered dogs — Total registered dogs
103 Stratford             Registered dogs — Total registered dogs
104 Stratford             Registered dogs — Total registered dogs
105 Stratford             Registered dogs — Total registered dogs
106 Stratford             Registered dogs — Total registered dogs
107 Stratford             Registered dogs — Total registered dogs
108 Stratford             Registered dogs — Total registered dogs
109 Stratford             Registered dogs — Total registered dogs
110 Stratford             Registered dogs — Total registered dogs
111 Stratford             Registered dogs — Total registered dogs
112 Stratford             Registered dogs — Total registered dogs
113 Stratford             Registered dogs — Total registered dogs
114 Stratford             Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      11296
2   All pure breeds                 6661
3   Beagle                            38
4   Bichon Frise                     175
5   Boxer                            100
6   Brazilian Fila                     0
7   Cattle, Australian                85
8   Chihuahua, Long Coat              55
9   Chihuahua, Smooth Coat            79
10  Collie, Bearded                   43
11  Collie, Border                   374
12  Collie, Rough                     14
13  Collie, Smooth                     6
14  Dogo Argentino                     0
15  Greyhound                         87
16  Heading                          281
17  Huntaway                         290
18  Maltese                          127
19  Perro de Presa Canario             0
20  Poodle, Miniature                 71
21  Poodle, Toy                       83
22  Retriever, Golden                188
23  Retriever, Labrador              754
24  Rottweiler                       166
25  Schnauzer, Miniature             204
26  Shepherd, German                 205
27  Shih Tzu                         174
28  Spaniel, Cavalier King Charles   120
29  Spaniel, Cocker                   53
30  Spaniel, English Springer         38
⋮   ⋮                              ⋮
85  Chihuahua, Smooth Coat           8
86  Collie, Bearded                 23
87  Collie, Border                 139
88  Collie, Rough                    1
89  Collie, Smooth                   0
90  Dogo Argentino                   1
91  Greyhound                       19
92  Heading                        231
93  Huntaway                       299
94  Maltese                         24
95  Perro de Presa Canario           0
96  Poodle, Miniature                3
97  Poodle, Toy                      5
98  Retriever, Golden               12
99  Retriever, Labrador            162
100 Rottweiler                      38
101 Schnauzer, Miniature             7
102 Shepherd, German                43
103 Shih Tzu                        13
104 Spaniel, Cavalier King Charles   6
105 Spaniel, Cocker                  7
106 Spaniel, English Springer        6
107 Terrier, American Pit Bull       4
108 Terrier, Fox (Smooth)           64
109 Terrier, Jack Russell           86
110 Terrier, Staffordshire Bull     23
111 Terrier, West Highland White     7
112 Tosa, Japanese                   0
113 Other pure breeds              286
114 All cross breeds               439

In [112]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL
  demo_data$Date = NULL
  demo_data$DateLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  taranaki_pop <- rbind(taranaki_pop, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
taranaki_pop

  Territorial.Authority Measure                               Category
1 New Plymouth          Population - residents at 2013 census Total people
2 South Taranaki        Population - residents at 2013 census Total people
3 Stratford             Population - residents at 2013 census Total people
  Value
1 74187
2 26577
3  8991

In [113]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  
  home_data$Date = NULL
  home_data$DateLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  taranaki_homes <- rbind(taranaki_homes, ownership) #for each iteration, bind the new data to the building dataset
}
taranaki_homes

     Territorial.Authority Measure
220  New Plymouth          Home ownership by households
221  New Plymouth          Home ownership by households
222  New Plymouth          Home ownership by households
223  New Plymouth          Home ownership by households
2201 South Taranaki        Home ownership by households
2211 South Taranaki        Home ownership by households
2221 South Taranaki        Home ownership by households
2231 South Taranaki        Home ownership by households
2202 Stratford             Home ownership by households
2212 Stratford             Home ownership by households
2222 Stratford             Home ownership by households
2232 Stratford             Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                    14964
221  Dwelling Not Owned and Not Held in a Family Trust  8340
222  Dwelling Held in a Family Trust                    4284
223  Not Elsewhere Included                             1617
2201 Dwelling Owned or Partly Owned                     4542
2211 Dwelling Not Owned and Not Held in a Family Trust  3588
2221 Dwelling Held in a Family Trust                    1479
2231 Not Elsewhere Included                              735
2202 Dwelling Owned or Partly Owned                     1602
2212 Dwelling Not Owned and Not Held in a Family Trust  1053
2222 Dwelling Held in a Family Trust                     660
2232 Not Elsewhere Included                              225

In [114]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  
  income_data$Date = NULL
  income_data$DateLabel = NULL

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  taranaki_income <- rbind(taranaki_income, personal_income) #for each iteration, bind the new data to the building dataset
}
taranaki_income

     Territorial.Authority Measure                    Category Value
128  New Plymouth          Median personal income ($)          29100
1281 South Taranaki        Median personal income ($)          29200
1282 Stratford             Median personal income ($)          28300

## Tasman

In [117]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman"

In [118]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Tasman")
file_list

[1] "Tasman.csv"

In [119]:
tasman <- data.frame()
tasman_pop <- data.frame()
tasman_homes <- data.frame()
tasman_income <- data.frame()

In [120]:
#Extract the pets information from the dataframe

for (i in 1:length(file_list)){
  data = read_csv(file_list[i])
  pets_data = data[data$Topic == "Pets",]
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
  pets_data$Date = NULL
  pets_data$DateLabel = NULL  
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  tasman <- rbind(tasman, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}
tasman

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Tasman                Registered dogs — Total registered dogs
2  Tasman                Registered dogs — Total registered dogs
3  Tasman                Registered dogs — Total registered dogs
4  Tasman                Registered dogs — Total registered dogs
5  Tasman                Registered dogs — Total registered dogs
6  Tasman                Registered dogs — Total registered dogs
7  Tasman                Registered dogs — Total registered dogs
8  Tasman                Registered dogs — Total registered dogs
9  Tasman                Registered dogs — Total registered dogs
10 Tasman                Registered dogs — Total registered dogs
11 Tasman                Registered dogs — Total registered dogs
12 Tasman                Registered dogs — Total registered dogs
13 Tasman                Registered dogs — Total registered dogs
14 Tasman                Registered dogs — Total registered dogs
15 Tasman                Registered dogs — Total registered dogs
16 Tasman                Registered dogs — Total registered dogs
17 Tasman                Registered dogs — Total registered dogs
18 Tasman                Registered dogs — Total registered dogs
19 Tasman                Registered dogs — Total registered dogs
20 Tasman                Registered dogs — Total registered dogs
21 Tasman                Registered dogs — Total registered dogs
22 Tasman                Registered dogs — Total registered dogs
23 Tasman                Registered dogs — Total registered dogs
24 Tasman                Registered dogs — Total registered dogs
25 Tasman                Registered dogs — Total registered dogs
26 Tasman                Registered dogs — Total registered dogs
27 Tasman                Registered dogs — Total registered dogs
28 Tasman                Registered dogs — Total registered dogs
29 Tasman                Registered dogs — Total registered dogs
30 Tasman                Registered dogs — Total registered dogs
31 Tasman                Registered dogs — Total registered dogs
32 Tasman                Registered dogs — Total registered dogs
33 Tasman                Registered dogs — Total registered dogs
34 Tasman                Registered dogs — Total registered dogs
35 Tasman                Registered dogs — Total registered dogs
36 Tasman                Registered dogs — Total registered dogs
37 Tasman                Registered dogs — Total registered dogs
38 Tasman                Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      10919
2  All pure breeds                 6178
3  Beagle                            35
4  Bichon Frise                     101
5  Boxer                             78
6  Brazilian Fila                     0
7  Cattle, Australian               159
8  Chihuahua, Long Coat              35
9  Chihuahua, Smooth Coat            47
10 Collie, Bearded                  101
11 Collie, Border                   661
12 Collie, Rough                     14
13 Collie, Smooth                   187
14 Dogo Argentino                     0
15 Greyhound                         52
16 Heading                          259
17 Huntaway                         479
18 Maltese                           54
19 Perro de Presa Canario             0
20 Poodle, Miniature                 44
21 Poodle, Toy                       38
22 Retriever, Golden                166
23 Retriever, Labrador              586
24 Rottweiler                        93
25 Schnauzer, Miniature             109
26 Shepherd, German                 189
27 Shih Tzu                          58
28 Spaniel, Cavalier King Charles    29
29 Spaniel, Cocker                   78
30 Spaniel, English Springer         83
31 Terrier, American Pit Bull        10
32 Terrier, Fox (Smooth)            170
33 Terrier, Jack Russell            380
34 Terrier, Staffordshire Bull      228
35 Terrier, West Highland White      84
36 Tosa, Japanese                     0
37 Other pure breeds               1571
38 All cross breeds                4741

In [121]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL
  demo_data$Date = NULL
  demo_data$DateLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  tasman_pop <- rbind(tasman_pop, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
tasman_pop

  Territorial.Authority Measure                               Category
1 Tasman                Population - residents at 2013 census Total people
  Value
1 47154

In [122]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  
  home_data$Date = NULL
  home_data$DateLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  tasman_homes <- rbind(tasman_homes, ownership) #for each iteration, bind the new data to the building dataset
}
tasman_homes

    Territorial.Authority Measure
220 Tasman                Home ownership by households
221 Tasman                Home ownership by households
222 Tasman                Home ownership by households
223 Tasman                Home ownership by households
    Category                                          Value
220 Dwelling Owned or Partly Owned                    10197
221 Dwelling Not Owned and Not Held in a Family Trust  4356
222 Dwelling Held in a Family Trust                    2850
223 Not Elsewhere Included                              864

In [123]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  
  income_data$Date = NULL
  income_data$DateLabel = NULL

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  tasman_income <- rbind(tasman_income, personal_income) #for each iteration, bind the new data to the building dataset
}
tasman_income

    Territorial.Authority Measure                    Category Value
128 Tasman                Median personal income ($)          25700

## Waikato

In [124]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato"

In [125]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Waikato")
file_list

 [1] "Hamilton.csv"         "Hauraki.csv"          "Matamata-Piako.csv"
 [4] "Otorohanga.csv"       "South Waikato.csv"    "Taupo.csv"
 [7] "ThamesCoromandel.csv" "Waikato.csv"          "Waipa.csv"
[10] "Waitomo.csv"

In [126]:
waikato <- data.frame()
waikato_pop <- data.frame()
waikato_homes <- data.frame()
waikato_income <- data.frame()

In [127]:
#Extract the pets information from the dataframe

for (i in 1:length(file_list)){
  data = read_csv(file_list[i])
  pets_data = data[data$Topic == "Pets",]
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
  pets_data$Date = NULL
  pets_data$DateLabel = NULL  
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  waikato <- rbind(waikato, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}
waikato

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Hamilton              Registered dogs — Total registered dogs
2   Hamilton              Registered dogs — Total registered dogs
3   Hamilton              Registered dogs — Total registered dogs
4   Hamilton              Registered dogs — Total registered dogs
5   Hamilton              Registered dogs — Total registered dogs
6   Hamilton              Registered dogs — Total registered dogs
7   Hamilton              Registered dogs — Total registered dogs
8   Hamilton              Registered dogs — Total registered dogs
9   Hamilton              Registered dogs — Total registered dogs
10  Hamilton              Registered dogs — Total registered dogs
11  Hamilton              Registered dogs — Total registered dogs
12  Hamilton              Registered dogs — Total registered dogs
13  Hamilton              Registered dogs — Total registered dogs
14  Hamilton              Registered dogs — Total registered dogs
15  Hamilton              Registered dogs — Total registered dogs
16  Hamilton              Registered dogs — Total registered dogs
17  Hamilton              Registered dogs — Total registered dogs
18  Hamilton              Registered dogs — Total registered dogs
19  Hamilton              Registered dogs — Total registered dogs
20  Hamilton              Registered dogs — Total registered dogs
21  Hamilton              Registered dogs — Total registered dogs
22  Hamilton              Registered dogs — Total registered dogs
23  Hamilton              Registered dogs — Total registered dogs
24  Hamilton              Registered dogs — Total registered dogs
25  Hamilton              Registered dogs — Total registered dogs
26  Hamilton              Registered dogs — Total registered dogs
27  Hamilton              Registered dogs — Total registered dogs
28  Hamilton              Registered dogs — Total registered dogs
29  Hamilton              Registered dogs — Total registered dogs
30  Hamilton              Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
351 Waitomo               Registered dogs — Total registered dogs
352 Waitomo               Registered dogs — Total registered dogs
353 Waitomo               Registered dogs — Total registered dogs
354 Waitomo               Registered dogs — Total registered dogs
355 Waitomo               Registered dogs — Total registered dogs
356 Waitomo               Registered dogs — Total registered dogs
357 Waitomo               Registered dogs — Total registered dogs
358 Waitomo               Registered dogs — Total registered dogs
359 Waitomo               Registered dogs — Total registered dogs
360 Waitomo               Registered dogs — Total registered dogs
361 Waitomo               Registered dogs — Total registered dogs
362 Waitomo               Registered dogs — Total registered dogs
363 Waitomo               Registered dogs — Total registered dogs
364 Waitomo               Registered dogs — Total registered dogs
365 Waitomo               Registered dogs — Total registered dogs
366 Waitomo               Registered dogs — Total registered dogs
367 Waitomo               Registered dogs — Total registered dogs
368 Waitomo               Registered dogs — Total registered dogs
369 Waitomo               Registered dogs — Total registered dogs
370 Waitomo               Registered dogs — Total registered dogs
371 Waitomo               Registered dogs — Total registered dogs
372 Waitomo               Registered dogs — Total registered dogs
373 Waitomo               Registered dogs — Total registered dogs
374 Waitomo               Registered dogs — Total registered dogs
375 Waitomo               Registered dogs — Total registered dogs
376 Waitomo               Registered dogs — Total registered dogs
377 Waitomo               Registered dogs — Total registered dogs
378 Waitomo               Registered dogs — Total registered dogs
379 Waitomo               Registered dogs — Total registered dogs
380 Waitomo               Registered dogs — Total registered dogs
    Category                       Value
1   Boxer                            56
2   All pure and cross breeds      9737
3   All pure breeds                4762
4   Beagle                           55
5   Bichon Frise                    134
6   Brazilian Fila                    0
7   Cattle, Australian               24
8   Chihuahua, Long Coat            111
9   Chihuahua, Smooth Coat           63
10  Collie, Bearded                  19
11  Collie, Border                  170
12  Collie, Rough                    14
13  Collie, Smooth                    1
14  Dogo Argentino                    0
15  Greyhound                        41
16  Huntaway                         39
17  Heading                          15
18  Maltese                         101
19  Perro de Presa Canario            0
20  Poodle, Miniature                66
21  Poodle, Toy                      98
22  Retriever, Golden               135
23  Retriever, Labrador             598
24  Rottweiler                      143
25  Schnauzer, Miniature            158
26  Shepherd, German                228
27  Shih Tzu                        114
28  Spaniel, Cavalier King Charles   72
29  Spaniel, Cocker                  84
30  Spaniel, English Springer        49
⋮   ⋮                              ⋮
351 Chihuahua, Smooth Coat          10
352 Collie, Bearded                 54
353 Collie, Border                  62
354 Collie, Rough                    1
355 Collie, Smooth                   2
356 Dogo Argentino                   0
357 Greyhound                        7
358 Heading                        861
359 Huntaway                       973
360 Maltese                         13
361 Perro de Presa Canario           0
362 Poodle, Miniature                8
363 Poodle, Toy                      2
364 Retriever, Golden               13
365 Retriever, Labrador            128
366 Rottweiler                      17
367 Schnauzer, Miniature             6
368 Shepherd, German                18
369 Shih Tzu                        15
370 Spaniel, Cavalier King Charles   2
371 Spaniel, Cocker                  7
372 Spaniel, English Springer        5
373 Terrier, American Pit Bull      14
374 Terrier, Fox (Smooth)           87
375 Terrier, Jack Russell           56
376 Terrier, Staffordshire Bull     34
377 Terrier, West Highland White     4
378 Tosa, Japanese                   0
379 Other pure breeds              225
380 All cross breeds               654

In [128]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL
  demo_data$Date = NULL
  demo_data$DateLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  waikato_pop <- rbind(waikato_pop, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
waikato_pop

   Territorial.Authority Measure                               Category
1  Hamilton              Population - residents at 2013 census Total people
2  Hauraki               Population - residents at 2013 census Total people
3  Matamata-Piako        Population - residents at 2013 census Total people
4  Otorohanga            Population - residents at 2013 census Total people
5  South Waikato         Population - residents at 2013 census Total people
6  Taupo                 Population - residents at 2013 census Total people
7  Thames-Coromandel     Population - residents at 2013 census Total people
8  Waikato               Population - residents at 2013 census Total people
9  Waipa                 Population - residents at 2013 census Total people
10 Waitomo               Population - residents at 2013 census Total people
   Value
1  141612
2   17811
3   31536
4    9138
5   22071
6   32907
7   26178
8   63378
9   46668
10   8907

In [129]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  
  home_data$Date = NULL
  home_data$DateLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  waikato_homes <- rbind(waikato_homes, ownership) #for each iteration, bind the new data to the building dataset
}
waikato_homes

     Territorial.Authority Measure
221  Hamilton              Home ownership by households
222  Hamilton              Home ownership by households
223  Hamilton              Home ownership by households
224  Hamilton              Home ownership by households
2211 Hauraki               Home ownership by households
2221 Hauraki               Home ownership by households
2231 Hauraki               Home ownership by households
2241 Hauraki               Home ownership by households
2212 Matamata-Piako        Home ownership by households
2222 Matamata-Piako        Home ownership by households
2232 Matamata-Piako        Home ownership by households
2242 Matamata-Piako        Home ownership by households
2213 Otorohanga            Home ownership by households
2223 Otorohanga            Home ownership by households
2233 Otorohanga            Home ownership by households
2243 Otorohanga            Home ownership by households
2214 South Waikato         Home ownership by households
2224 South Waikato         Home ownership by households
2234 South Waikato         Home ownership by households
2244 South Waikato         Home ownership by households
2215 Taupo                 Home ownership by households
2225 Taupo                 Home ownership by households
2235 Taupo                 Home ownership by households
2245 Taupo                 Home ownership by households
2216 Thames-Coromandel     Home ownership by households
2226 Thames-Coromandel     Home ownership by households
2236 Thames-Coromandel     Home ownership by households
2246 Thames-Coromandel     Home ownership by households
220  Waikato               Home ownership by households
2217 Waikato               Home ownership by households
2227 Waikato               Home ownership by households
2237 Waikato               Home ownership by households
2218 Waipa                 Home ownership by households
2228 Waipa                 Home ownership by households
2238 Waipa                 Home ownership by households
2247 Waipa                 Home ownership by households
2219 Waitomo               Home ownership by households
2229 Waitomo               Home ownership by households
2239 Waitomo               Home ownership by households
2248 Waitomo               Home ownership by households
     Category                                          Value
221  Dwelling Owned or Partly Owned                    21579
222  Dwelling Not Owned and Not Held in a Family Trust 20217
223  Dwelling Held in a Family Trust                    5490
224  Not Elsewhere Included                             3102
2211 Dwelling Owned or Partly Owned                     3864
2221 Dwelling Not Owned and Not Held in a Family Trust  2394
2231 Dwelling Held in a Family Trust                     645
2241 Not Elsewhere Included                              459
2212 Dwelling Owned or Partly Owned                     5808
2222 Dwelling Not Owned and Not Held in a Family Trust  4143
2232 Dwelling Held in a Family Trust                    1632
2242 Not Elsewhere Included                              663
2213 Dwelling Owned or Partly Owned                     1299
2223 Dwelling Not Owned and Not Held in a Family Trust  1191
2233 Dwelling Held in a Family Trust                     582
2243 Not Elsewhere Included                              231
2214 Dwelling Owned or Partly Owned                     4023
2224 Dwelling Not Owned and Not Held in a Family Trust  3048
2234 Dwelling Held in a Family Trust                     648
2244 Not Elsewhere Included                              672
2215 Dwelling Owned or Partly Owned                     5325
2225 Dwelling Not Owned and Not Held in a Family Trust  4620
2235 Dwelling Held in a Family Trust                    2082
2245 Not Elsewhere Included                              855
2216 Dwelling Owned or Partly Owned                     5571
2226 Dwelling Not Owned and Not Held in a Family Trust  3402
2236 Dwelling Held in a Family Trust                    1893
2246 Not Elsewhere Included                              639
220  Dwelling Owned or Partly Owned                    10497
2217 Dwelling Not Owned and Not Held in a Family Trust  6708
2227 Dwelling Held in a Family Trust                    3255
2237 Not Elsewhere Included                             1572
2218 Dwelling Owned or Partly Owned                     8523
2228 Dwelling Not Owned and Not Held in a Family Trust  5055
2238 Dwelling Held in a Family Trust                    2988
2247 Not Elsewhere Included                              960
2219 Dwelling Owned or Partly Owned                     1233
2229 Dwelling Not Owned and Not Held in a Family Trust  1311
2239 Dwelling Held in a Family Trust                     573
2248 Not Elsewhere Included                              234

In [130]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  
  income_data$Date = NULL
  income_data$DateLabel = NULL

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  waikato_income <- rbind(waikato_income, personal_income) #for each iteration, bind the new data to the building dataset
}
waikato_income

     Territorial.Authority Measure                    Category Value
128  Hamilton              Median personal income ($)          27700
1281 Hauraki               Median personal income ($)          23100
1282 Matamata-Piako        Median personal income ($)          29700
1283 Otorohanga            Median personal income ($)          29100
1284 South Waikato         Median personal income ($)          23700
1285 Taupo                 Median personal income ($)          28200
1286 Thames-Coromandel     Median personal income ($)          23200
1287 Waikato               Median personal income ($)          30500
1288 Waipa                 Median personal income ($)          32000
1289 Waitomo               Median personal income ($)          25600

## Wellington

In [131]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington"

In [132]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/Wellington")
file_list

[1] "Carterton.csv"       "Kapiti Coast.csv"    "Lower Hutt.csv"
[4] "Masterton.csv"       "Porirua.csv"         "South Wairarapa.csv"
[7] "Upper Hutt.csv"      "Wellington(1).csv"   "Westland.csv"

In [133]:
wellington <- data.frame()
wellington_pop <- data.frame()
wellington_homes <- data.frame()
wellington_income <- data.frame()

In [134]:
#Extract the pets information from the dataframe

for (i in 1:length(file_list)){
  data = read_csv(file_list[i])
  pets_data = data[data$Topic == "Pets",]
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
  pets_data$Date = NULL
  pets_data$DateLabel = NULL  
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  wellington <- rbind(wellington, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}
wellington

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

    Territorial Authority Measure
1   Carterton             Registered dogs — Total registered dogs
2   Carterton             Registered dogs — Total registered dogs
3   Carterton             Registered dogs — Total registered dogs
4   Carterton             Registered dogs — Total registered dogs
5   Carterton             Registered dogs — Total registered dogs
6   Carterton             Registered dogs — Total registered dogs
7   Carterton             Registered dogs — Total registered dogs
8   Carterton             Registered dogs — Total registered dogs
9   Carterton             Registered dogs — Total registered dogs
10  Carterton             Registered dogs — Total registered dogs
11  Carterton             Registered dogs — Total registered dogs
12  Carterton             Registered dogs — Total registered dogs
13  Carterton             Registered dogs — Total registered dogs
14  Carterton             Registered dogs — Total registered dogs
15  Carterton             Registered dogs — Total registered dogs
16  Carterton             Registered dogs — Total registered dogs
17  Carterton             Registered dogs — Total registered dogs
18  Carterton             Registered dogs — Total registered dogs
19  Carterton             Registered dogs — Total registered dogs
20  Carterton             Registered dogs — Total registered dogs
21  Carterton             Registered dogs — Total registered dogs
22  Carterton             Registered dogs — Total registered dogs
23  Carterton             Registered dogs — Total registered dogs
24  Carterton             Registered dogs — Total registered dogs
25  Carterton             Registered dogs — Total registered dogs
26  Carterton             Registered dogs — Total registered dogs
27  Carterton             Registered dogs — Total registered dogs
28  Carterton             Registered dogs — Total registered dogs
29  Carterton             Registered dogs — Total registered dogs
30  Carterton             Registered dogs — Total registered dogs
⋮   ⋮                     ⋮
313 Westland              Registered dogs — Total registered dogs
314 Westland              Registered dogs — Total registered dogs
315 Westland              Registered dogs — Total registered dogs
316 Westland              Registered dogs — Total registered dogs
317 Westland              Registered dogs — Total registered dogs
318 Westland              Registered dogs — Total registered dogs
319 Westland              Registered dogs — Total registered dogs
320 Westland              Registered dogs — Total registered dogs
321 Westland              Registered dogs — Total registered dogs
322 Westland              Registered dogs — Total registered dogs
323 Westland              Registered dogs — Total registered dogs
324 Westland              Registered dogs — Total registered dogs
325 Westland              Registered dogs — Total registered dogs
326 Westland              Registered dogs — Total registered dogs
327 Westland              Registered dogs — Total registered dogs
328 Westland              Registered dogs — Total registered dogs
329 Westland              Registered dogs — Total registered dogs
330 Westland              Registered dogs — Total registered dogs
331 Westland              Registered dogs — Total registered dogs
332 Westland              Registered dogs — Total registered dogs
333 Westland              Registered dogs — Total registered dogs
334 Westland              Registered dogs — Total registered dogs
335 Westland              Registered dogs — Total registered dogs
336 Westland              Registered dogs — Total registered dogs
337 Westland              Registered dogs — Total registered dogs
338 Westland              Registered dogs — Total registered dogs
339 Westland              Registered dogs — Total registered dogs
340 Westland              Registered dogs — Total registered dogs
341 Westland              Registered dogs — Total registered dogs
342 Westland              Registered dogs — Total registered dogs
    Category                       Value
1   All pure and cross breeds      2622
2   All pure breeds                1631
3   Beagle                            8
4   Bichon Frise                     17
5   Boxer                            12
6   Brazilian Fila                    0
7   Cattle, Australian               10
8   Chihuahua, Long Coat             16
9   Chihuahua, Smooth Coat           13
10  Collie, Bearded                  12
11  Collie, Border                   68
12  Collie, Rough                     4
13  Collie, Smooth                    1
14  Dogo Argentino                    0
15  Greyhound                        14
16  Heading                         240
17  Huntaway                        258
18  Maltese                           5
19  Perro de Presa Canario            0
20  Poodle, Miniature                17
21  Poodle, Toy                       8
22  Retriever, Golden                11
23  Retriever, Labrador             183
24  Rottweiler                       36
25  Schnauzer, Miniature             20
26  Shepherd, German                 40
27  Shih Tzu                         19
28  Spaniel, Cavalier King Charles    9
29  Spaniel, Cocker                  29
30  Spaniel, English Springer        10
⋮   ⋮                              ⋮
313 Chihuahua, Smooth Coat           8
314 Collie, Bearded                 10
315 Collie, Border                  96
316 Collie, Rough                    3
317 Collie, Smooth                   2
318 Dogo Argentino                   0
319 Greyhound                        2
320 Heading                         27
321 Huntaway                        72
322 Maltese                          9
323 Perro de Presa Canario           0
324 Poodle, Miniature                7
325 Poodle, Toy                      4
326 Retriever, Golden               27
327 Retriever, Labrador            137
328 Rottweiler                      22
329 Schnauzer, Miniature             9
330 Shepherd, German                22
331 Shih Tzu                         6
332 Spaniel, Cavalier King Charles  12
333 Spaniel, Cocker                 13
334 Spaniel, English Springer       10
335 Terrier, American Pit Bull       3
336 Terrier, Fox (Smooth)           31
337 Terrier, Jack Russell           91
338 Terrier, Staffordshire Bull     42
339 Terrier, West Highland White     6
340 Tosa, Japanese                   0
341 Other pure breeds              257
342 All cross breeds               814

In [135]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL
  demo_data$Date = NULL
  demo_data$DateLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  wellington_pop <- rbind(wellington_pop, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
wellington_pop

  Territorial.Authority Measure                               Category
1 Carterton             Population - residents at 2013 census Total people
2 Kapiti Coast          Population - residents at 2013 census Total people
3 Lower Hutt            Population - residents at 2013 census Total people
4 Masterton             Population - residents at 2013 census Total people
5 Porirua               Population - residents at 2013 census Total people
6 South Wairarapa       Population - residents at 2013 census Total people
7 Upper Hutt            Population - residents at 2013 census Total people
8 Wellington            Population - residents at 2013 census Total people
9 Westland              Population - residents at 2013 census Total people
  Value
1   8235
2  49104
3  98238
4  23352
5  51717
6   9528
7  40179
8 190959
9   8304

In [136]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  
  home_data$Date = NULL
  home_data$DateLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  wellington_homes <- rbind(wellington_homes, ownership) #for each iteration, bind the new data to the building dataset
}
wellington_homes

     Territorial.Authority Measure
221  Carterton             Home ownership by households
222  Carterton             Home ownership by households
223  Carterton             Home ownership by households
224  Carterton             Home ownership by households
2211 Kapiti Coast          Home ownership by households
2221 Kapiti Coast          Home ownership by households
2231 Kapiti Coast          Home ownership by households
2241 Kapiti Coast          Home ownership by households
2212 Lower Hutt            Home ownership by households
2222 Lower Hutt            Home ownership by households
2232 Lower Hutt            Home ownership by households
2242 Lower Hutt            Home ownership by households
2213 Masterton             Home ownership by households
2223 Masterton             Home ownership by households
2233 Masterton             Home ownership by households
2243 Masterton             Home ownership by households
2214 Porirua               Home ownership by households
2224 Porirua               Home ownership by households
2234 Porirua               Home ownership by households
2244 Porirua               Home ownership by households
2215 South Wairarapa       Home ownership by households
2225 South Wairarapa       Home ownership by households
2235 South Wairarapa       Home ownership by households
2245 South Wairarapa       Home ownership by households
2216 Upper Hutt            Home ownership by households
2226 Upper Hutt            Home ownership by households
2236 Upper Hutt            Home ownership by households
2246 Upper Hutt            Home ownership by households
220  Wellington            Home ownership by households
2217 Wellington            Home ownership by households
2227 Wellington            Home ownership by households
2237 Wellington            Home ownership by households
2201 Westland              Home ownership by households
2218 Westland              Home ownership by households
2228 Westland              Home ownership by households
2238 Westland              Home ownership by households
     Category                                          Value
221  Dwelling Owned or Partly Owned                     1965
222  Dwelling Not Owned and Not Held in a Family Trust   822
223  Dwelling Held in a Family Trust                     351
224  Not Elsewhere Included                              159
2211 Dwelling Owned or Partly Owned                    11472
2221 Dwelling Not Owned and Not Held in a Family Trust  4959
2231 Dwelling Held in a Family Trust                    3054
2241 Not Elsewhere Included                              990
2212 Dwelling Owned or Partly Owned                    17790
2222 Dwelling Not Owned and Not Held in a Family Trust 11442
2232 Dwelling Held in a Family Trust                    4617
2242 Not Elsewhere Included                             2142
2213 Dwelling Owned or Partly Owned                     4965
2223 Dwelling Not Owned and Not Held in a Family Trust  2934
2233 Dwelling Held in a Family Trust                    1074
2243 Not Elsewhere Included                              534
2214 Dwelling Owned or Partly Owned                     8100
2224 Dwelling Not Owned and Not Held in a Family Trust  5694
2234 Dwelling Held in a Family Trust                    1965
2244 Not Elsewhere Included                             1125
2215 Dwelling Owned or Partly Owned                     2127
2225 Dwelling Not Owned and Not Held in a Family Trust  1035
2235 Dwelling Held in a Family Trust                     564
2245 Not Elsewhere Included                              210
2216 Dwelling Owned or Partly Owned                     8553
2226 Dwelling Not Owned and Not Held in a Family Trust  3978
2236 Dwelling Held in a Family Trust                    1737
2246 Not Elsewhere Included                              771
220  Dwelling Owned or Partly Owned                    31374
2217 Dwelling Not Owned and Not Held in a Family Trust 27648
2227 Dwelling Held in a Family Trust                    8571
2237 Not Elsewhere Included                             3411
2201 Dwelling Owned or Partly Owned                     1803
2218 Dwelling Not Owned and Not Held in a Family Trust  1101
2228 Dwelling Held in a Family Trust                     330
2238 Not Elsewhere Included                              255

In [137]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  
  income_data$Date = NULL
  income_data$DateLabel = NULL

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  wellington_income <- rbind(wellington_income, personal_income) #for each iteration, bind the new data to the building dataset
}
wellington_income

     Territorial.Authority Measure                    Category Value
128  Carterton             Median personal income ($)          26700
1281 Kapiti Coast          Median personal income ($)          26900
1282 Lower Hutt            Median personal income ($)          31500
1283 Masterton             Median personal income ($)          25300
1284 Porirua               Median personal income ($)          31400
1285 South Wairarapa       Median personal income ($)          28900
1286 Upper Hutt            Median personal income ($)          32000
1287 Wellington            Median personal income ($)          37900
1288 Westland              Median personal income ($)          28900

## West Coast

In [138]:
setwd("~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast")
getwd()

[1] "/Users/andrewdoodson/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast"

In [139]:
file_list <- list.files(path="~/UNI SHIT/Masters/Year 1 /Semester 2 /Data Wrangling/Group Project/Pets/Region_CSVs/West Coast")
file_list

[1] "Buller.csv" "Grey.csv"

In [140]:
west_coast <- data.frame()
west_coast_pop <- data.frame()
west_coast_homes <- data.frame()
west_coast_income <- data.frame()

In [141]:
#Extract the pets information from the dataframe

for (i in 1:length(file_list)){
  data = read_csv(file_list[i])
  pets_data = data[data$Topic == "Pets",]
  pets_data$Topic = NULL
  pets_data$NullReason = NULL
  pets_data$Source = NULL
  pets_data$ValueUnit = NULL
  pets_data$ValueLabel = NULL
  pets_data$Date = NULL
  pets_data$DateLabel = NULL  
    
  #this is specific to the pets portion, this removes the acc data
  pets_counts = pets_data[c(-1,-2,-3),]
  pets_counts
  
  
  total_registered_dogs = pets_counts[pets_counts$Measure =="Registered dogs — Total registered dogs",]
    
  
  west_coast <- rbind(west_coast, total_registered_dogs) #for each iteration, bind the new data to the building dataset

}
west_coast

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

Parsed with column specification:
cols(
  `Territorial Authority` = col_character(),
  Topic = col_character(),
  Measure = col_character(),
  Category = col_character(),
  Value = col_double(),
  ValueUnit = col_character(),
  ValueLabel = col_character(),
  NullReason = col_character(),
  Date = col_character(),
  DateLabel = col_character(),
  Source = col_character()
)

   Territorial Authority Measure
1  Buller                Registered dogs — Total registered dogs
2  Buller                Registered dogs — Total registered dogs
3  Buller                Registered dogs — Total registered dogs
4  Buller                Registered dogs — Total registered dogs
5  Buller                Registered dogs — Total registered dogs
6  Buller                Registered dogs — Total registered dogs
7  Buller                Registered dogs — Total registered dogs
8  Buller                Registered dogs — Total registered dogs
9  Buller                Registered dogs — Total registered dogs
10 Buller                Registered dogs — Total registered dogs
11 Buller                Registered dogs — Total registered dogs
12 Buller                Registered dogs — Total registered dogs
13 Buller                Registered dogs — Total registered dogs
14 Buller                Registered dogs — Total registered dogs
15 Buller                Registered dogs — Total registered dogs
16 Buller                Registered dogs — Total registered dogs
17 Buller                Registered dogs — Total registered dogs
18 Buller                Registered dogs — Total registered dogs
19 Buller                Registered dogs — Total registered dogs
20 Buller                Registered dogs — Total registered dogs
21 Buller                Registered dogs — Total registered dogs
22 Buller                Registered dogs — Total registered dogs
23 Buller                Registered dogs — Total registered dogs
24 Buller                Registered dogs — Total registered dogs
25 Buller                Registered dogs — Total registered dogs
26 Buller                Registered dogs — Total registered dogs
27 Buller                Registered dogs — Total registered dogs
28 Buller                Registered dogs — Total registered dogs
29 Buller                Registered dogs — Total registered dogs
30 Buller                Registered dogs — Total registered dogs
⋮  ⋮                     ⋮
47 Grey                  Registered dogs — Total registered dogs
48 Grey                  Registered dogs — Total registered dogs
49 Grey                  Registered dogs — Total registered dogs
50 Grey                  Registered dogs — Total registered dogs
51 Grey                  Registered dogs — Total registered dogs
52 Grey                  Registered dogs — Total registered dogs
53 Grey                  Registered dogs — Total registered dogs
54 Grey                  Registered dogs — Total registered dogs
55 Grey                  Registered dogs — Total registered dogs
56 Grey                  Registered dogs — Total registered dogs
57 Grey                  Registered dogs — Total registered dogs
58 Grey                  Registered dogs — Total registered dogs
59 Grey                  Registered dogs — Total registered dogs
60 Grey                  Registered dogs — Total registered dogs
61 Grey                  Registered dogs — Total registered dogs
62 Grey                  Registered dogs — Total registered dogs
63 Grey                  Registered dogs — Total registered dogs
64 Grey                  Registered dogs — Total registered dogs
65 Grey                  Registered dogs — Total registered dogs
66 Grey                  Registered dogs — Total registered dogs
67 Grey                  Registered dogs — Total registered dogs
68 Grey                  Registered dogs — Total registered dogs
69 Grey                  Registered dogs — Total registered dogs
70 Grey                  Registered dogs — Total registered dogs
71 Grey                  Registered dogs — Total registered dogs
72 Grey                  Registered dogs — Total registered dogs
73 Grey                  Registered dogs — Total registered dogs
74 Grey                  Registered dogs — Total registered dogs
75 Grey                  Registered dogs — Total registered dogs
76 Grey                  Registered dogs — Total registered dogs
   Category                       Value
1  All pure and cross breeds      2106
2  All pure breeds                1150
3  Beagle                            9
4  Bichon Frise                     58
5  Boxer                            11
6  Brazilian Fila                    0
7  Cattle, Australian                5
8  Chihuahua, Long Coat              6
9  Chihuahua, Smooth Coat           13
10 Collie, Bearded                  12
11 Collie, Border                  147
12 Collie, Rough                     2
13 Collie, Smooth                    0
14 Dogo Argentino                    2
15 Greyhound                         7
16 Heading                          28
17 Huntaway                         82
18 Maltese                           8
19 Perro de Presa Canario            0
20 Poodle, Miniature                 2
21 Poodle, Toy                       9
22 Retriever, Golden                20
23 Retriever, Labrador             138
24 Rottweiler                       34
25 Schnauzer, Miniature              8
26 Shepherd, German                 21
27 Shih Tzu                          6
28 Spaniel, Cavalier King Charles    9
29 Spaniel, Cocker                  20
30 Spaniel, English Springer         9
⋮  ⋮                              ⋮
47 Chihuahua, Smooth Coat           36
48 Collie, Bearded                  26
49 Collie, Border                  161
50 Collie, Rough                     1
51 Collie, Smooth                    0
52 Dogo Argentino                    0
53 Greyhound                         4
54 Heading                          37
55 Huntaway                         85
56 Maltese                          19
57 Perro de Presa Canario            0
58 Poodle, Miniature                22
59 Poodle, Toy                      13
60 Retriever, Golden                36
61 Retriever, Labrador             229
62 Rottweiler                       27
63 Schnauzer, Miniature             15
64 Shepherd, German                 46
65 Shih Tzu                         18
66 Spaniel, Cavalier King Charles    6
67 Spaniel, Cocker                  15
68 Spaniel, English Springer        21
69 Terrier, American Pit Bull        4
70 Terrier, Fox (Smooth)            84
71 Terrier, Jack Russell            87
72 Terrier, Staffordshire Bull     101
73 Terrier, West Highland White      6
74 Tosa, Japanese                    0
75 Other pure breeds               355
76 All cross breeds               1049

In [142]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  demo_data = data[data$Topic == "Demographics",]

  demo_data$Topic = NULL
  demo_data$NullReason = NULL
  demo_data$Source = NULL
  demo_data$ValueUnit = NULL
  demo_data$ValueLabel = NULL
  demo_data$Date = NULL
  demo_data$DateLabel = NULL  

  population = demo_data[demo_data$Measure == "Population - residents at 2013 census",]  
  west_coast_pop <- rbind(west_coast_pop, population) #for each iteration, bind the new data to the building dataset
  #dataset <- rbind(dataset, population)  
}
west_coast_pop

  Territorial.Authority Measure                               Category
1 Buller                Population - residents at 2013 census Total people
2 Grey                  Population - residents at 2013 census Total people
  Value
1 10473
2 13371

In [143]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  home_data = data[data$Topic == "Households",]

  home_data$Topic = NULL
  home_data$NullReason = NULL
  home_data$Source = NULL
  home_data$ValueUnit = NULL
  home_data$ValueLabel = NULL  
  home_data$Date = NULL
  home_data$DateLabel = NULL  

  ownership = home_data[home_data$Measure == "Home ownership by households",]  
  west_coast_homes <- rbind(west_coast_homes, ownership) #for each iteration, bind the new data to the building dataset
}
west_coast_homes

     Territorial.Authority Measure
220  Buller                Home ownership by households
221  Buller                Home ownership by households
222  Buller                Home ownership by households
223  Buller                Home ownership by households
2201 Grey                  Home ownership by households
2211 Grey                  Home ownership by households
2221 Grey                  Home ownership by households
2231 Grey                  Home ownership by households
     Category                                          Value
220  Dwelling Owned or Partly Owned                    2442
221  Dwelling Not Owned and Not Held in a Family Trust 1317
222  Dwelling Held in a Family Trust                    339
223  Not Elsewhere Included                             339
2201 Dwelling Owned or Partly Owned                    2931
2211 Dwelling Not Owned and Not Held in a Family Trust 1464
2221 Dwelling Held in a Family Trust                    450
2231 Not Elsewhere Included                             510

In [144]:
for (i in 1:length(file_list)){
  data = read.csv(file_list[i])
  #e.g. if we wanted household information we would change the topic to be "Households" below
  income_data = data[data$Topic == "Income",]

  income_data$Topic = NULL
  income_data$NullReason = NULL
  income_data$Source = NULL
  income_data$ValueUnit = NULL
  income_data$ValueLabel = NULL  
  income_data$Date = NULL
  income_data$DateLabel = NULL

  personal_income = income_data[income_data$Measure == "Median personal income ($)",]  
  west_coast_income <- rbind(west_coast_income, personal_income) #for each iteration, bind the new data to the building dataset
}
west_coast_income

     Territorial.Authority Measure                    Category Value
128  Buller                Median personal income ($)          25200
1281 Grey                  Median personal income ($)          26600

## So we now have a dataframe for each defined region
We would now want to collapse them to should just the counts for the breeds (we don't need to know what district has what count)

## Taranaki Aggregration

In [146]:
taranaki_df <- aggregate(taranaki['Value'], by=taranaki['Category'], sum) 
taranaki_df
taranaki_pop_agg <- aggregate(taranaki_pop["Value"], by = taranaki_pop['Category'], sum)
taranaki_pop_agg

   Category                       Value
1  All cross breeds                6548
2  All pure and cross breeds      17790
3  All pure breeds                11242
4  Beagle                            54
5  Bichon Frise                     287
6  Boxer                            157
7  Brazilian Fila                     0
8  Cattle, Australian               142
9  Chihuahua, Long Coat             123
10 Chihuahua, Smooth Coat           101
11 Collie, Bearded                   90
12 Collie, Border                   674
13 Collie, Rough                     24
14 Collie, Smooth                     8
15 Dogo Argentino                     1
16 Greyhound                        163
17 Heading                          754
18 Huntaway                         897
19 Maltese                          188
20 Other pure breeds               2750
21 Perro de Presa Canario             0
22 Poodle, Miniature                 92
23 Poodle, Toy                      107
24 Retriever, Golden                236
25 Retriever, Labrador             1274
26 Rottweiler                       334
27 Schnauzer, Miniature             236
28 Shepherd, German                 338
29 Shih Tzu                         244
30 Spaniel, Cavalier King Charles   139
31 Spaniel, Cocker                   69
32 Spaniel, English Springer         58
33 Terrier, American Pit Bull       113
34 Terrier, Fox (Smooth)            477
35 Terrier, Jack Russell            518
36 Terrier, Staffordshire Bull      510
37 Terrier, West Highland White      84
38 Tosa, Japanese                     0

  Category     Value
1 Total people 109755

Rename the column variables to match what has been done before

In [147]:
taranaki_df <- rename(taranaki_df, Breed = Category, Taranaki = Value)

In [148]:
taranaki_df

   Breed                          Taranaki
1  All cross breeds                6548
2  All pure and cross breeds      17790
3  All pure breeds                11242
4  Beagle                            54
5  Bichon Frise                     287
6  Boxer                            157
7  Brazilian Fila                     0
8  Cattle, Australian               142
9  Chihuahua, Long Coat             123
10 Chihuahua, Smooth Coat           101
11 Collie, Bearded                   90
12 Collie, Border                   674
13 Collie, Rough                     24
14 Collie, Smooth                     8
15 Dogo Argentino                     1
16 Greyhound                        163
17 Heading                          754
18 Huntaway                         897
19 Maltese                          188
20 Other pure breeds               2750
21 Perro de Presa Canario             0
22 Poodle, Miniature                 92
23 Poodle, Toy                      107
24 Retriever, Golden                236
25 Retriever, Labrador             1274
26 Rottweiler                       334
27 Schnauzer, Miniature             236
28 Shepherd, German                 338
29 Shih Tzu                         244
30 Spaniel, Cavalier King Charles   139
31 Spaniel, Cocker                   69
32 Spaniel, English Springer         58
33 Terrier, American Pit Bull       113
34 Terrier, Fox (Smooth)            477
35 Terrier, Jack Russell            518
36 Terrier, Staffordshire Bull      510
37 Terrier, West Highland White      84
38 Tosa, Japanese                     0

Repeat this for all of the regions
## Tasman

In [90]:
tasman_df <- aggregate(tasman['Value'], by=tasman['Category'], sum) 
tasman_df <- rename(tasman_df, Breed = Category, Tasman = Value) 
tasman_df

   Breed                          Tasman
1  All cross breeds                4741
2  All pure and cross breeds      10919
3  All pure breeds                 6178
4  Beagle                            35
5  Bichon Frise                     101
6  Boxer                             78
7  Brazilian Fila                     0
8  Cattle, Australian               159
9  Chihuahua, Long Coat              35
10 Chihuahua, Smooth Coat            47
11 Collie, Bearded                  101
12 Collie, Border                   661
13 Collie, Rough                     14
14 Collie, Smooth                   187
15 Dogo Argentino                     0
16 Greyhound                         52
17 Heading                          259
18 Huntaway                         479
19 Maltese                           54
20 Other pure breeds               1571
21 Perro de Presa Canario             0
22 Poodle, Miniature                 44
23 Poodle, Toy                       38
24 Retriever, Golden                166
25 Retriever, Labrador              586
26 Rottweiler                        93
27 Schnauzer, Miniature             109
28 Shepherd, German                 189
29 Shih Tzu                          58
30 Spaniel, Cavalier King Charles    29
31 Spaniel, Cocker                   78
32 Spaniel, English Springer         83
33 Terrier, American Pit Bull        10
34 Terrier, Fox (Smooth)            170
35 Terrier, Jack Russell            380
36 Terrier, Staffordshire Bull      228
37 Terrier, West Highland White      84
38 Tosa, Japanese                     0

## Waikato

In [149]:
waikato_df <- aggregate(waikato['Value'], by=waikato['Category'], sum) 
waikato_df <- rename(waikato_df, Breed = Category, Waikato = Value) 
waikato_df
waikato_pop_agg <- aggregate(waikato_pop["Value"], by = waikato_pop['Category'], sum)
waikato_pop_agg

   Breed                          Waikato
1  All cross breeds               24237
2  All pure and cross breeds      61601
3  All pure breeds                37364
4  Beagle                           224
5  Bichon Frise                     515
6  Boxer                            409
7  Brazilian Fila                     0
8  Cattle, Australian               702
9  Chihuahua, Long Coat             434
10 Chihuahua, Smooth Coat           337
11 Collie, Bearded                  362
12 Collie, Border                  2003
13 Collie, Rough                    105
14 Collie, Smooth                    35
15 Dogo Argentino                     6
16 Greyhound                        655
17 Heading                         2474
18 Huntaway                        3585
19 Maltese                          498
20 Other pure breeds               9128
21 Perro de Presa Canario             0
22 Poodle, Miniature                260
23 Poodle, Toy                      353
24 Retriever, Golden                724
25 Retriever, Labrador             4680
26 Rottweiler                      1029
27 Schnauzer, Miniature             729
28 Shepherd, German                1355
29 Shih Tzu                         622
30 Spaniel, Cavalier King Charles   225
31 Spaniel, Cocker                  395
32 Spaniel, English Springer        394
33 Terrier, American Pit Bull       277
34 Terrier, Fox (Smooth)           2077
35 Terrier, Jack Russell           1496
36 Terrier, Staffordshire Bull     1060
37 Terrier, West Highland White     216
38 Tosa, Japanese                     0

  Category     Value
1 Total people 400206

## Wellington

In [150]:
wellington_df <- aggregate(wellington['Value'], by=wellington['Category'], sum) 
wellington_df <- rename(wellington_df, Breed = Category, Wellington = Value) 
wellington_df
wellington_pop_agg <- aggregate(wellington_pop["Value"], by = wellington_pop['Category'], sum)
wellington_pop_agg

   Breed                          Wellington
1  All cross breeds               22329
2  All pure and cross breeds      50760
3  All pure breeds                28431
4  Beagle                           280
5  Bichon Frise                     620
6  Boxer                            291
7  Brazilian Fila                     0
8  Cattle, Australian               256
9  Chihuahua, Long Coat             351
10 Chihuahua, Smooth Coat           231
11 Collie, Bearded                  164
12 Collie, Border                  1383
13 Collie, Rough                     67
14 Collie, Smooth                    20
15 Dogo Argentino                     2
16 Greyhound                        453
17 Heading                         1277
18 Huntaway                        1737
19 Maltese                          241
20 Other pure breeds               8084
21 Perro de Presa Canario             0
22 Poodle, Miniature                352
23 Poodle, Toy                      237
24 Retriever, Golden                876
25 Retriever, Labrador             3593
26 Rottweiler                       629
27 Schnauzer, Miniature             813
28 Shepherd, German                1083
29 Shih Tzu                         500
30 Spaniel, Cavalier King Charles   374
31 Spaniel, Cocker                  419
32 Spaniel, English Springer        278
33 Terrier, American Pit Bull       199
34 Terrier, Fox (Smooth)           1189
35 Terrier, Jack Russell           1186
36 Terrier, Staffordshire Bull      946
37 Terrier, West Highland White     300
38 Tosa, Japanese                     0

  Category     Value
1 Total people 479616

## West Coast

In [151]:
west_coast_df <- aggregate(west_coast['Value'], by=west_coast['Category'], sum) 
west_coast_df <- rename(west_coast_df, Breed = Category, West_Coast = Value) 
west_coast_df
west_coast_pop_agg <- aggregate(west_coast_pop["Value"], by = west_coast_pop['Category'], sum)
west_coast_pop_agg

   Breed                          West_Coast
1  All cross breeds               2005
2  All pure and cross breeds      4743
3  All pure breeds                2738
4  Beagle                           17
5  Bichon Frise                    128
6  Boxer                            33
7  Brazilian Fila                    0
8  Cattle, Australian               29
9  Chihuahua, Long Coat             16
10 Chihuahua, Smooth Coat           49
11 Collie, Bearded                  38
12 Collie, Border                  308
13 Collie, Rough                     3
14 Collie, Smooth                    0
15 Dogo Argentino                    2
16 Greyhound                        11
17 Heading                          65
18 Huntaway                        167
19 Maltese                          27
20 Other pure breeds               694
21 Perro de Presa Canario            0
22 Poodle, Miniature                24
23 Poodle, Toy                      22
24 Retriever, Golden                56
25 Retriever, Labrador             367
26 Rottweiler                       61
27 Schnauzer, Miniature             23
28 Shepherd, German                 67
29 Shih Tzu                         24
30 Spaniel, Cavalier King Charles   15
31 Spaniel, Cocker                  35
32 Spaniel, English Springer        30
33 Terrier, American Pit Bull       17
34 Terrier, Fox (Smooth)           138
35 Terrier, Jack Russell           142
36 Terrier, Staffordshire Bull     120
37 Terrier, West Highland White     10
38 Tosa, Japanese                    0

  Category     Value
1 Total people 23844

## Finally lets combine them all into one dataframe

In [81]:
(taranaki_df)

   Category             Value
 Length:38          Min.   :    0
 Class :character   1st Qu.:  171
 Mode  :character   Median :  320
                    Mean   : 2464
                    3rd Qu.: 1004
                    Max.   :35580

In [94]:
tar_tas <- taranaki_df %>%
 left_join(tasman_df, by = "Breed")

tar_tas_wai<- tar_tas %>%
 left_join(waikato_df, by = "Breed")

tar_tas_wai_wel <- tar_tas_wai %>%
 left_join(wellington_df, by = "Breed")

tar_to_wc_pets <- tar_tas_wai_wel %>%
 left_join(west_coast_df, by = "Breed")

In [96]:
tar_to_wc_pets

   Breed                          Taranaki Tasman Waikato Wellington West_Coast
1  All cross breeds               13096     4741  24237    44658     2005
2  All pure and cross breeds      35580    10919  61601   101520     4743
3  All pure breeds                22484     6178  37364    56862     2738
4  Beagle                           108       35    224      560       17
5  Bichon Frise                     574      101    515     1240      128
6  Boxer                            314       78    409      582       33
7  Brazilian Fila                     0        0      0        0        0
8  Cattle, Australian               284      159    702      512       29
9  Chihuahua, Long Coat             246       35    434      702       16
10 Chihuahua, Smooth Coat           202       47    337      462       49
11 Collie, Bearded                  180      101    362      328       38
12 Collie, Border                  1348      661   2003     2766      308
13 Collie, Rough                     48       14    105      134        3
14 Collie, Smooth                    16      187     35       40        0
15 Dogo Argentino                     2        0      6        4        2
16 Greyhound                        326       52    655      906       11
17 Heading                         1508      259   2474     2554       65
18 Huntaway                        1794      479   3585     3474      167
19 Maltese                          376       54    498      482       27
20 Other pure breeds               5500     1571   9128    16168      694
21 Perro de Presa Canario             0        0      0        0        0
22 Poodle, Miniature                184       44    260      704       24
23 Poodle, Toy                      214       38    353      474       22
24 Retriever, Golden                472      166    724     1752       56
25 Retriever, Labrador             2548      586   4680     7186      367
26 Rottweiler                       668       93   1029     1258       61
27 Schnauzer, Miniature             472      109    729     1626       23
28 Shepherd, German                 676      189   1355     2166       67
29 Shih Tzu                         488       58    622     1000       24
30 Spaniel, Cavalier King Charles   278       29    225      748       15
31 Spaniel, Cocker                  138       78    395      838       35
32 Spaniel, English Springer        116       83    394      556       30
33 Terrier, American Pit Bull       226       10    277      398       17
34 Terrier, Fox (Smooth)            954      170   2077     2378      138
35 Terrier, Jack Russell           1036      380   1496     2372      142
36 Terrier, Staffordshire Bull     1020      228   1060     1892      120
37 Terrier, West Highland White     168       84    216      600       10
38 Tosa, Japanese                     0        0      0        0        0

In [152]:
write.csv(tar_to_wc_pets,'Taranaki - West Coast Pets Counts.csv')